.stats {
    border: 1px solid black;
}

.home-page {
    border: 1px solid black;

}

.pokemon-card {
    border: 1px solid black;

}
.pokemon-img {
    height: 20px;
    width: 50px;
    background: url("../src/assets/charmander.png")
}